body {background-color: white;}
#content{width:400px; margin:0 auto;}
.open, .open:hover{cursor:pointer;}
#map{width:400px; height:500px; margin:0 auto;}
#navigate{display:inline-flex; width:100%; margin-top:25px;}
#navigate div.child{width:33%;}
#navigate button{cursor: pointer; margin:0 auto; display:block; outline: 0; }

 .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

 html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }


